/*ESTRUCTURA*/
*{
    box-sizing: border-box;
}
body{
    margin: 0 auto;  
}
.row1{
    display: flex;
    position: relative;
}
.column-nav{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    background-color: blueviolet;
    display: flex;
}
.column-2{
    margin: 20px;
    width: 50%;
    display: flex;
    height: 400px;
    background-color: aquamarine;
}
.column-4{
    width: 25%;
    margin: 8px;
    background-color: blueviolet;
}
.column-3{
    width: 100%;
    display: flex;
    background-color: blueviolet;
    justify-content: center;
}
.column-7{
    width: 75%;
    margin: 8px;
    background-color: chocolate;
    text-align: center;
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}
/*BARRA DE LA IZQUIERDA*/
#img_p{
    display: flex;
    justify-content: center;
    margin: 10px;
}
#quien_soy{
    margin: 20px;
}
#contactos{
    margin: 10px;
}
/*LETRA Y ESTILOS DE ESTA*/
a{
    margin: 10px;
}
h2{
    text-align: center;
}

